<!-- breadcrumb start -->
<div class="breadcrumb-section bg-header d-flex align-items-center">
    <div class="container">
        <div class="row d-flex align-content-center">
            <div class="col-sm-12">
                <div class="page-title text-white d-flex justify-content-center">
                    <h2 class="text-white text-capitalize">Aviso de Privacidad</h2>
                </div>
                <div class="page-title text-white d-flex justify-content-center">
                    <h5 class="text-white">Renta y compra vestidos de noche y defiesta en México, rapido y facil.</h5>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb end -->
<!-- section start-->
<section class="faq-section section-b-space">
    <div class="container">
        <div class="row  d-flex justify-content-center">
            <div class="col-6 text-center">
                <div class="ideal-dress-toptitle">URDRESS APP</div>
            </div>
            <div class="col-12 text-center mb-5 mt-3">
                <h2 class="text-capitalize">Aviso de Privacidad</h2>
            </div>
            <div class="col-sm-12 px-5">
                <div class="accordion theme-accordion px-5" id="accordionExample">
                    <p class="text-justify">
                        Urdress App SA de CV, con domicilio en calle Bosques de Flamboyanes 100-5, colonia Bosques de Colón, ciudad Toluca, municipio o delegación Toluca, c.p. 50180, en la entidad de Estado de México, país México , y portal de internet https://www.urdressapp.com
                        , es el responsable del uso y protección de sus datos personales, y al respecto le informamos lo siguiente:
                    </p>
                    <div class="card">
                        <div class="card-header" id="headingOne">
                            <h5 class="mb-0">
                                <button class="btn btn-link text-capitalize" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    ¿Para qué fines utilizaremos sus datos personales?
                                </button>
                            </h5>
                        </div>

                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                            <div class="card-body">
                                <p class="mb-3">Los datos personales que recabamos de usted, los utilizaremos para las siguientes finalidades que son necesarias para el servicio que solicita:</p>
                                <ul>
                                    <li>Administrar y operar los servicios contratados.</li>
                                    <li>Mercadotecnia o publicitaria.</li>
                                    <li>Prospección comercial.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingTwo">
                            <h5 class="mb-0">
                                <button class="btn btn-link text-capitalize collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    ¿Qué datos personales utilizaremos para estos fines?
                                </button>
                            </h5>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                            <div class="card-body">
                                <p class="mb-3">Para llevar a cabo las finalidades descritas en el presente aviso de privacidad, utilizaremos los siguientes datos personales:</p>
                                <ul>
                                    <li>Nombre</li>
                                    <li>Domicilio</li>
                                    <li>Teléfono particular</li>
                                    <li>Teléfono celular</li>
                                    <li>Correo electrónico</li>
                                    <li>Firma autógrafa</li>
                                    <li>Edad</li>
                                    <li>Número de tarjetas de crédito</li>
                                    <li>Talla de ropa</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingThree">
                            <h5 class="mb-0">
                                <button class="btn btn-link text-capitalize collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    ¿Cómo puede acceder, rectificar o cancelar sus datos personales, u oponerse a su uso?
                                </button>
                            </h5>
                        </div>
                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                            <div class="card-body">
                                <p class="mb-3">Usted tiene derecho a conocer qué datos personales tenemos de usted, para qué los utilizamos y las condiciones del uso que les damos (Acceso). Asimismo, es su derecho solicitar la corrección de su información personal en
                                    caso de que esté desactualizada, sea inexacta o incompleta (Rectificación); que la eliminemos de nuestros registros o bases de datos cuando considere que la misma no está siendo utilizada adecuadamente (Cancelación);
                                    así como oponerse al uso de sus datos personales para fines específicos (Oposición). Estos derechos se conocen como derechos ARCO.</p>
                                <p class="mb-3">Para el ejercicio de cualquiera de los derechos ARCO, usted deberá presentar la solicitud respectiva a través del siguiente medio:</p>
                                <p class="mb-3">Correo electronico: info@urdressapp.com</p>
                                <p class="mb-3">Para conocer el procedimiento y requisitos para el ejercicio de los derechos ARCO, ponemos a su disposición el siguiente medio:</p>
                                <p class="mb-3">https://www.urdressapp.com/</p>
                                <p class="mb-3">Los datos de contacto de la persona o departamento de datos personales, que está a cargo de dar trámite a las solicitudes de derechos ARCO, son los siguientes:</p>
                                <ul>
                                    <li>a) Nombre de la persona o departamento de datos personales: Nadya Karina Vázquez Angel</li>
                                    <li>b) Domicilio: calle Bosques de Flamboyanes 100-1, colonia Bosques de Colon, ciudad Toluca, municipio o delegación Toluca, c.p. 50180, en la entidad de México, país México.</li>
                                    <li>c) Correo electrónico: info@urdressapp.com</li>
                                </ul>
                                <p class="mb-3">Usted puede revocar su consentimiento para el uso de sus datos personales</p>
                                <p class="mb-3">Usted puede revocar el consentimiento que, en su caso, nos haya otorgado para el tratamiento de sus datos personales. Sin embargo, es importante que tenga en cuenta que no en todos los casos podremos atender su solicitud
                                    o concluir el uso de forma inmediata, ya que es posible que por alguna obligación legal requerimos seguir tratando sus datos personales. Asimismo, usted deberá considerar que para ciertos fines, la revocación de su
                                    consentimiento implicará que no le podamos seguir prestando el servicio que nos solicitó, o la conclusión de su relación con nosotros.</p>
                                <p class="mb-3">Para revocar su consentimiento deberá presentar su solicitud a través del siguiente medio:</p>
                                <p class="mb-3">info@urdressapp.com</p>
                                <p class="mb-3">conocer el procedimiento y requisitos para la revocación del consentimiento, ponemos a su disposición el siguiente medio:</p>
                                <p>https://www.urdressapp.com</p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="heading4">
                            <h5 class="mb-0">
                                <button class="btn btn-link text-capitalize collapsed" type="button" data-toggle="collapse" data-target="#collapse4" aria-expanded="false" aria-controls="collapse4">
                                    ¿Cómo puede limitar el uso o divulgación de su información personal?
                                </button>
                            </h5>
                        </div>
                        <div id="collapse4" class="collapse" aria-labelledby="heading4" data-parent="#accordionExample">
                            <div class="card-body">
                                <p class="mb-3">Con objeto de que usted pueda limitar el uso y divulgación de su información personal, le ofrecemos los siguientes medios:</p>
                                <p>de exclusión</p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="heading5">
                            <h5 class="mb-0">
                                <button class="btn btn-link text-capitalize collapsed" type="button" data-toggle="collapse" data-target="#collapse5" aria-expanded="false" aria-controls="collapse5">
                                    ¿Cómo puede conocer los cambios en este aviso de privacidad?
                                </button>
                            </h5>
                        </div>
                        <div id="collapse5" class="collapse" aria-labelledby="heading5" data-parent="#accordionExample">
                            <div class="card-body">
                                <p class="mb-3">El presente aviso de privacidad puede sufrir modificaciones, cambios o actualizaciones derivadas de nuevos requerimientos legales; de nuestras propias necesidades por los productos o servicios que ofrecemos; de nuestras
                                    prácticas de privacidad; de cambios en nuestro modelo de negocio, o por otras causas.</p>

                                <p class="mb-3">Nos comprometemos a mantenerlo informado sobre los cambios que pueda sufrir el presente aviso de privacidad, a través de: https://www.urdressapp.com/.</p>

                                <p class="mb-3">El procedimiento a través del cual se llevarán a cabo las notificaciones sobre cambios o actualizaciones al presente aviso de privacidad es el siguiente:</p>

                                <p class="mb-3">A través de la página web y con fechas de actualización</p>

                                <p class="mb-3">Su consentimiento para el tratamiento de sus datos personales</p>

                                <p class="mb-3">Consiento que mis datos personales sean tratados de conformidad con los términos y condiciones informados en el presente aviso de privacidad.[ ]</p>

                                <p>Última actualización: 14/03/2020</p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Section ends-->