<!-- Parallax banner -->
<!-- <section class="p-0">
    <div class="full-banner parallax-banner1 parallax text-center p-left">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="banner-contain text-left w-50">
                        <h3>Complete su Aspecto perfecto</h3>
                        <h5 class="mt-2">Completa tu look con fascinators, embragues y joyas. ¡Luzca absolutamente glamoroso y perfecto en el día de su evento!</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->

<div id="beatiful-acc-contain" class="fullwidth">
    <div id="beatiful-acc-bg"></div>
    <div id="beatiful-acc-content">
        <div id="beatiful-acc-content-toptitle">HERMOSOS ACCESORIOS</div>
        <div id="beatiful-acc-content-title">Complete su<br />Aspecto perfecto</div>
        <div id="beatiful-acc-content-subtitle">Completa tu outfit perfecto. Compra accesorios y luce espectacular en cada uno de tus eventos.!</div>
        <div id="beatiful-acc-items-contain">
            <div id="beatiful-acc-items">
                <a href="#">
                    <div class="beatiful-acc-items-img-contain">
                        <img class="beatiful-acc-items-img" src="assets/images/img/products/bolsa-de-mano.png" alt="BOLSA DE MANO" />
                    </div>

                </a>
                <a href="#">
                    <div class="beatiful-acc-items-title">BOLSA DE MANO</div>
                </a>
                <div class="beatiful-acc-items-price">
                    <span class="beatiful-acc-items-price-text">Desde</span>
                    <span class="beatiful-acc-items-price-currency">$</span><span class="beatiful-acc-items-price-val">35</span>
                </div>
            </div>
            <div id="beatiful-acc-items">
                <a href="#">
                    <div class="beatiful-acc-items-img-contain">
                        <img class="beatiful-acc-items-img" src="assets/images/img/products/gold-bracelet.png" alt="GOLD BRACELET" />
                    </div>
                </a>
                <a href="#">
                    <div class="beatiful-acc-items-title">GOLD BRACELET</div>
                </a>
                <div class="beatiful-acc-items-price">
                    <span class="beatiful-acc-items-price-text">Desde</span>
                    <span class="beatiful-acc-items-price-currency">$</span><span class="beatiful-acc-items-price-val">24</span>
                </div>
            </div>
            <div id="beatiful-acc-items">
                <a href="#">
                    <div class="beatiful-acc-items-img-contain">
                        <img class="beatiful-acc-items-img" src="assets/images/img/products/studded-bag.png" alt="STUDDED BAG" />
                    </div>
                </a>
                <a href="#">
                    <div class="beatiful-acc-items-title">STUDDED BAG</div>
                </a>
                <div class="beatiful-acc-items-price">
                    <span class="beatiful-acc-items-price-text">Desde</span>
                    <span class="beatiful-acc-items-price-currency">$</span><span class="beatiful-acc-items-price-val">50</span>
                </div>
            </div>
            <div id="beatiful-acc-items">
                <a href="#">
                    <div class="beatiful-acc-items-img-contain">
                        <img class="beatiful-acc-items-img" src="assets/images/img/products/black-bag.png" alt="BLACK BAG" />
                    </div>
                </a>
                <a href="#">
                    <div class="beatiful-acc-items-title">BLACK BAG</div>
                </a>
                <div class="beatiful-acc-items-price">
                    <span class="beatiful-acc-items-price-text">Desde</span>
                    <span class="beatiful-acc-items-price-currency">$</span><span class="beatiful-acc-items-price-val">90</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Parallax banner end -->

<div id="services-contain" class="container">
    <div class="row">
        <div class="col-12 services-items-contain">
            <div class="services-items">
                <div class="services-items-icon services-items-icon-dress">
                </div>
                <div class="services-items-content">
                    <div class="services-items-cont" data-val="2208">153</div>
                    <div class="services-items-title">VESTIDOS EN RENTA</div>
                </div>
            </div>
            <div class="services-items">
                <div class="services-items-icon services-items-icon-heart">
                </div>
                <div class="services-items-content">
                    <div class="services-items-cont" data-val="1499">94</div>
                    <div class="services-items-title">CLIENTES SATISFECHOS</div>
                </div>
            </div>
            <div class="services-items">
                <div class="services-items-icon services-items-icon-diamont">
                </div>
                <div class="services-items-content">
                    <div class="services-items-cont" data-val="105">46</div>
                    <div class="services-items-title">DISEÑADORES DE MODA</div>
                </div>
            </div>
            <div class="services-items">
                <div class="services-items-icon services-items-icon-gift">
                </div>
                <div class="services-items-content">
                    <div class="services-items-cont" data-val="300">153</div>
                    <div class="services-items-title">ENTREGAS DE MES</div>
                </div>
            </div>
        </div>
    </div>
</div>