p,
li {
    font-family: Raleway !important;
    font-size: 16px !important;
    line-height: 1.5 !important;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: Palatino, 'Palatino Linotype', 'Palatino LT STD', 'Book Antiqua', Georgia, serif;
}

.bg-header {
    height: 300px;
    background-image: url('/assets/images/header_web.png');
}

h2 {
    font-size: 30px !important;
}

.card-body ul {
    list-style-type: disc;
    margin: 10px;
    padding: 10px;
}

li {
    display: list-item;
    border-bottom: 1px solid #dddddd;
}

ul,
li {
    list-style: initial;
    padding: 15px;
}

#subscribe {
    display: none !important;
}

.ideal-dress-toptitle {
    font-size: 13px;
    font-weight: 700;
    font-family: Raleway;
    // color: #aae0ff;
    letter-spacing: 2px;
    padding-left: 80px;
    padding-right: 30px;
    // position: relative;
}

.ideal-dress-toptitle:before {
    content: "";
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    width: 60px;
    height: 1px;
    background: #aae0ff;
    left: 35%;
    z-index: 1;
    position: absolute;
}