<!-- breadcrumb start -->
<div class="breadcrumb-section bg-header d-flex align-items-center">
    <div class="container">
        <div class="row d-flex align-content-center">
            <div class="col-sm-12">
                <div class="page-title text-white d-flex justify-content-center">
                    <h2 class="text-white text-capitalize">Términos y Condiciones</h2>
                </div>
                <div class="page-title text-white d-flex justify-content-center">
                    <h5 class="text-white">Renta y compra vestidos de noche y defiesta en México, rápido y fácil.</h5>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb end -->
<!-- section start-->
<section class="faq-section section-b-space">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-6 text-center">
                <div class="ideal-dress-toptitle">URDRESS APP</div>
            </div>
            <div class="col-12 text-center mb-5 mt-3">
                <h2 class="text-capitalize">Términos y Condiciones</h2>
            </div>
            <div class="col-sm-12 px-5">
                <div class="accordion theme-accordion px-5" id="accordionExample">
                    <p>
                        Estos términos y condiciones de Uso aplican para todos los usuarios de URDRESS Y DISEÑO S.A. DE C.V., por lo que al utilizar nuestros servicios estos siempre serán aplicables y así expresamente lo manifiestas como usuario de URDRESS Y DISEÑO S.A. DE C.V..
                        Por lo anterior, te invitamos a leerlos detenidamente y, en caso de duda, solicitar las aclaraciones.</p>
                    <p>URDRESS es una aplicación cuyo principal objetivo es el arrendamiento de vestidos de todo tipo y principalmente ser un punto de encuentro entre el arrendador y el arrendatario, a fin de poner a disposición de los usuarios el arrendamiento
                        de vestidos de todo tipo por medio de nuestra aplicación, por lo tanto URDRESS no es dueño de los productos que aquí se ofrecen, por lo cual no es responsable directa o indirectamente del cumplimiento de los derechos y obligaciones
                        que existan entre los usuarios ofertantes, como lo es la calidad del producto, la veracidad de las publicaciones, la seguridad, los tiempos de entrega, la calidad de los productos, entre otros, por lo cual los usuarios aceptan
                        y reconocen que cualquier pacto, oferta y operación que celebren entre ellos es de su absoluta responsabilidad y que son únicos y exclusivos responsables por los artículos que publican para su renta, deslindando a URDRESS de cualquier
                        efecto legal y cualquier responsabilidad y pago de incumplimiento.</p>
                    <p>REGISTRO DE USUARIOS</p>
                    <p>Los usuarios que deseen darse de alta en nuestra aplicación lo podrán hacer por medio de un registro en el que solicitarán información personal básica como nombre, apellido, edad, ciudad de residencia, correo electrónico, así como
                        número móvil con la finalidad de poder verificar la cuenta y así mismo tenerlo como contacto para la relación de arrendamiento, o bien lo podrán hacer por medio de Faceboock del cual nuestra aplicación solo obtendrá el nombre,
                        el apellido y edad del usuario.
                    </p>
                    <p>PUBLICACIONES</p>
                    <p>usuarios que deseen publicar un producto, podrán hacerlo incluyendo imágenes debiendo exponer lo más exacto posible, las condiciones más relevantes del producto, como es la calidad del producto, las condiciones físicas del vestido,
                        el precio de renta la talla, condiciones de devolución si es su caso (lavado en tintorería o sin lavar), lugar de entrega y devolución, si lo tiene para entrega inmediata, incluyendo el costo del producto en renta el cual deberá
                        ser expresado en moneda de curso legal de los estados Unidos Mexicanos, y ya incluir el Impuesto al Valor Agregado (I.V.A.). URDRESS no se hace responsable de cualquier inconsistencia que pueda existir entre el producto y los datos
                        proporcionados por el ofertante, pues es responsabilidad del ofertante. Los usuarios solo podrán ofrecer en renta los vestidos que publiquen en la ciudad en donde se encuentra.</p>
                    <p>OBLIGACIONES DEL ARRENDADOR</p>
                    <p>Los ofertantes tienen la obligación de proporcionar toda la información necesaria por el cliente para la renta del producto ofertado, debiendo en todo caso estar en disposición de atender las preguntas realizadas por el cliente con
                        la finalidad de facilitar la transacción ofrecida y deseada. Una vez cerrada las negociaciones, y realizadas las transacciones, es responsabilidad y obligación única del ofertante hacer entrega del producto ofertado al cliente,
                        debiendo forzosamente hacerse el día pactado.</p>
                    <p>
                        OBLIGACIONES DE DILIGENCIA Y CUIDADO</p>
                    <p>Como usuario de URDRESS Y DISEÑO SA DE CV te comprometes expresamente a adoptar todas las medidas que sean necesarias a efectos de mantener la integridad y calidad del Vestido, así como a prevenir cualquier tipo de daño que se pudiere
                        causar al mismo.</p>
                    <p>Del mismo modo, como usuario te obligas expresamente a obrar de buena fe y a notificar de manera oportuna a URDRESS los eventuales daños o la pérdida total o parcial del Vestido.</p>
                    <p>Bajo ninguna circunstancia, podrás realizar arreglos, ajustes, remiendos, modificaciones o alteraciones de las prendas que se te den en arrendamiento. En caso de hacerlo, el arrendador se reserva el derecho de cobrarte la totalidad
                        del valor de reposición de la prenda correspondiente.</p>
                    <p>VALOR DEL ALQUILER</p>
                    <p>El valor de alquiler dependerá del Vestido que escojas. Dicho valor será previamente informado por el arrendador por medio de la publicación.</p>
                    <p>DEPÓSITO</p>
                    <p>Con el fin de cubrir eventuales daños menores, como se establece más adelante, URDRESS detendrá como garantía la cantidad equivalente al la garantía del vestido. Dicho depósito te será devuelto al momento en que hagas la devolución
                        conforme las reglas que establecen estos Términos y Condiciones de Uso.</p>
                    <p>MORA EN LA ENTREGA</p>
                    <p>Por cada día de mora en la entrega del Vestido se causará una multa por día de retraso equivalente a el 13% sobre el valor de renta. Dicho recargo por mora se aplicará inclusive, al día en que sea efectivamente entregado el Vestido.</p>
                    <p>URDRESS descontará del Depósito las sumas de dinero que se llegaren a causar por esta mora en la entrega.</p>
                    <p>DURACIÓN Y ENTREGA</p>
                    <p>URDRESS ofrece que el alquiler sea por seis (6) días calendario, contados a partir del día en que alquiles nuestros vestidos.</p>
                    <p>El Vestido deberá ser entregado o enviado al arrendador en o antes de la fecha de vencimiento, transcurrida la cual se generará la multa por mora en la entrega señalada anteriormente.</p>
                    <p>VALOR DE REPOSICIÓN POR PÉRDIDA O DESTRUCCIÓN TOTAL O PARCIAL</p>
                    <p>Como arrendatario aceptas, reconoces y te obligas a cancelar la totalidad del valor del Vestido en caso que el mismo se dé por perdido, ya sea por pérdida material, por destrucción total o parcial.</p>
                    <p>Para el efecto, al momento de la entrega del vestido deberás certificar que el mismo se encuentra en perfectas condiciones lo cual será verificado por arrendador.</p>
                    <p>DAÑOS MENORES</p>
                    <p>Los vestidos pueden llegar a sufrir daños menores que no implican la pérdida parcial de la prenda. En este caso, el arrendador cobrará el valor de los arreglos que se requieran para remediar el daño menor, los cuales serán descontados
                        del Depósito.</p>
                    <p>El arrendador considera que son daños menores, entre otros, manchas removibles, dobladillos sueltos, rasgadura de cremallera, pérdida de broches o pedrería (canutillos o lentejuelas, entre otros) y otros daños que no afecten la integridad,
                        postura o uso del vestido.</p>
                    <p>FORMA DE PAGO DEL ALQUILER.</p>
                    <p>El valor del alquiler del Vestido deberá ser cancelado por anticipado a través de una cuenta bancaria o conekta.</p>
                    <p>FORMA DE PAGO DEL VALOR DE REPOSICIÓN.</p>
                    <p>Como usuario te obligas a cancelar, sin dilación y de contado, el valor de reposición del vestido, el cual te será debidamente informado. En caso que transcurran más de treinta (30) días calendario contados a partir de la fecha de
                        entrega acordada entre las partes sin que hayas retornado nuestras la prenda, El arrendador quedará facultado para hacer efectivas las garantías que has otorgado y/o adoptar las medidas judiciales y extrajudiciales que considere
                        pertinentes a efectos de obtener el pago del valor de reposición del vestido.</p>
                    <p>ACEPTACIÓN A SATISFACCIÓN</p>
                    <p>Una vez confirmes el Vestido que quieres tomar en alquiler, previo a la entrega material del Vestido, el arrendador realizará un registro fotográfico de dicho vestido. A su vez, una vez recibes el Vestido debes confirmar que lo recibes
                        a satisfacción y confirmas la calidad e integridad del mismo. Dicha aceptación a satisfacción se entenderá otorgada salvo que manifiestes en contrario.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Section ends-->