:host(.subscribe) {
    display: none !important;
}

.order-box .qty li span {
    line-height: 60px;
}

.count {
    color: #aae0ff;
    font-size: 16px;
}

p,
li {
    font-family: Raleway !important;
    font-size: 16px !important;
    line-height: 1.5 !important;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: Palatino, 'Palatino Linotype', 'Palatino LT STD', 'Book Antiqua', Georgia, serif;
}