<div class="row mt-4" *ngIf="loading">
    <div class="col-sm-12 text-center">
        <div class="spinner-border text-info" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <div class="col-md-12">
        <div class="text-center text-info">
            Cargando los productos, por favor espere...
        </div>
    </div>
</div>
<table class="table table-hover" *ngIf="!loading">
    <thead>
        <tr>
            <th>Imagen</th>
            <th>Producto</th>
            <th>Categoria</th>
            <th class="text-center">Activar/Desactivar</th>
            <th>Precio</th>
            <th>Estatus</th>
            <th>Acciones</th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let product of products | paginate: { itemsPerPage: 5, currentPage: pageActual }">
            <td>
                <img width="50px" height="50px" class="" [src]="product.coverImage | image:'product': product.id">
            </td>
            <td>
                {{ product.name }}
            </td>
            <td>
                {{ product.category }}
            </td>
            <td class="text-center">
                <div class="custom-control custom-switch">
                    <input type="checkbox" [checked]="product.activated === 1" class="custom-control-input" (change)="activatedProduct($event, product.id)" id="customSwitch_{{product.id}}">
                    <label class="custom-control-label" for="customSwitch_{{product.id}}"></label>
                    <!-- <label class="custom-control-label" for="customSwitch_{{product.id}}" *ngIf="product.activated === 0">Activar</label> -->
                </div>
            </td>
            <td>
                {{ product.price }}
            </td>
            <td>
                <ng-container *ngIf="product.status === 1">
                    <span class="badge badge-info">Disponible</span>
                </ng-container>
                <ng-container *ngIf="product.status === 0">
                    <span class="badge badge-warning">Rentado</span>
                </ng-container>
            </td>
            <td>
                <!-- <a [routerLink]="['/administrador/actualizar-producto/', product.slug]"><i class="ti-eye text-info mr-2"></i></a> -->
                <a [routerLink]="['/cuenta/editar-producto/', product.slug]"><i class="ti-pencil text-success"></i></a>
                <i class="ti-trash text-danger ml-md-2 pointer" (click)="deleteProduct( product )"></i>
            </td>
        </tr>
    </tbody>
</table>
<div class="row mt-4" *ngIf="!loading && products.length > 0">
    <div class="col-md-12">
        <nav aria-label="Page navigation example" class="float-right">
            <pagination-controls class="rounded rounded-circle" responsive="true" previousLabel="" nextLabel="" (pageChange)="pageActual = $event">
            </pagination-controls>
        </nav>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 text-center section-b-space no-found" *ngIf="products.length == 0">
        <img src="assets/images/empty-search.jpg" class="img-fluid mb-4">
        <h3>¡Lo siento! No se encontraron productos!!! </h3>
    </div>
</div>