<!-- breadcrumb start -->
<div class="breadcrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="page-title">
                    <h2>buscar</h2>
                </div>
            </div>
            <div class="col-sm-6">
                <nav aria-label="breadcrumb" class="theme-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a [routerLink]="'/home/one'">Inicio</a></li>
                        <li class="breadcrumb-item active">buscar</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb End -->
<!-- section start -->
<section class="authentication-page section-b-space">
    <div class="container">
        <section class="search-block">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 offset-lg-3">
                        <form class="form-header">
                            <div class="form-group">
                                <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Buscar un producto">
                            </div>
                            <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <div class="col-sm-12 text-center">
            <img src="assets/images/empty-search.jpg" class="img-fluid mb-4">
            <h3>¡Lo siento! No pude encontrar el producto que estabas buscando!!! </h3>
            <p>Compruebe si ha escrito algo incorrectamente o intente buscar con otras palabras.</p>
            <a [routerLink]="'/home/one'" class="btn btn-solid">Continuar comprando</a>
        </div>
    </div>
</section>
<!-- section end -->