#recommend .img-wrapper .lable-block .lable4 {
    background: #aae0ff;
    color: #fff;
    padding: 10px 50px;
    left: -35px;
    right: 7px !important;
    top: 15px !important;
    writing-mode: rl !important;
    transform: rotate(-45deg) !important;
}

.lable4 {
    background: #aae0ff;
    color: #fff;
    padding: 10px 50px;
    left: -35px;
    right: auto !important;
    top: 15px !important;
    writing-mode: rl !important;
    transform: rotate(-45deg) !important;
}

p,
li,
div {
    font-family: Raleway !important;
    font-size: 16px !important;
    line-height: 1.5 !important;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: Palatino, 'Palatino Linotype', 'Palatino LT STD', 'Book Antiqua', Georgia, serif;
}