<footer id="footerr">
    <div id="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12 footer-item-top">
                    <div class="footer-item-top-title">Ayuda y Soporte</div>
                    <ul>
                        <li>
                            <a rel="nofollow" routerLink="/politicas-de-renta">Políticas de renta</a>
                        </li>
                        <li>
                            <a rel="nofollow" routerLink="/politicas-de-compra">Políticas de compra</a>
                        </li>
                        <li>
                            <a rel="nofollow" href="#">Opciones de pago</a>
                        </li>
                        <li>
                            <a rel="nofollow" routerLink="/contacto">Contáctanos</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 footer-item-top">
                    <div class="footer-item-top-title">Información</div>
                    <ul>
                        <li>
                            <a rel="nofollow" routerLink="/como-funciona">¿Cómo funciona?</a>
                        </li>
                        <li>
                            <a rel="nofollow" routerLink="/sobre-nosotros">¿Quiénes somos?</a>
                        </li>
                        <li>
                            <a rel="nofollow" routerLink="/terminos-y-condiciones">Términos y condiciones</a>
                        </li>
                        <li>
                            <a rel="nofollow" routerLink="/aviso-de-privacidad">Aviso de privacidad</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 footer-item-top">
                    <div class="footer-item-top-title">Próximamente</div>
                    <div class="footer-item-top-logos">
                        <a rel="nofollow" href="#">
                            <img src="assets/images/app-store-badge.webp" width="80%" style="max-width: 150px" alt="Appstore" />
                        </a>
                    </div>
                    <div class="footer-item-top-logos">

                        <a rel="nofollow" href="#">
                            <img alt='Disponible en Google Play' src='assets/images/google-play-badge.webp' width="80%" style="max-width: 150px" />
                        </a>
                    </div>
                    <div class="footer-item-top-logos">
                        <a rel="nofollow" href="#">
                            <img class="large-logo" src="assets/images/debito-paypal.jpg" alt="Tarjeta Débito o Crédito Paypal" />
                        </a>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 footer-item-top">
                    <div class="footer-item-top-title">Síguenos en</div>
                    <a href="https://www.facebook.com/UrdressApp/ " class="icons-social"><i class="fa fa-facebook-f" aria-hidden="true"></i> Facebook</a>
                    <a href="https://twitter.com/udresses" class="icons-social"><i class="fa fa-twitter" aria-hidden="true"></i> Twitter</a>
                    <a href="https://www.instagram.com/urdress_mx/" class="icons-social"><i class="fa fa-instagram" aria-hidden="true"></i> Instagram</a>
                </div>
            </div>
        </div>
    </div>
    <div id="copyright">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="footer-left">
                        <div id="footer-flags" class="footer-flags">
                            <div class="copyright-flags-currency"><i class="icon-flag icon-flag-mx icon-left"></i> México</div>
                            <i class="icon-flag icon-arrow-down"></i>
                            <div id="footer-flags-list">
                                <ul>
                                    <li><a href="#"><i class="icon-flag icon-flag-mx icon-left"></i> México</a></li>
                                    <li><a href="#"><i class="icon-flag icon-flag-es icon-left"></i> España</a></li>
                                    <li><a href="#"><i class="icon-flag icon-flag-fr icon-left"></i> Francia</a></li>
                                    <li><a href="#"><i class="icon-flag icon-flag-it icon-left"></i> Italia</a></li>
                                    <li><a href="#"><i class="icon-flag icon-flag-uk icon-left"></i> Reino Unido</a></li>
                                    <li><a href="#"><i class="icon-flag icon-flag-pt icon-left"></i> Portugal</a></li>
                                    <li><a href="#"><i class="icon-flag icon-flag-in icon-left"></i> India</a></li>
                                    <li><a href="#"><i class="icon-flag icon-flag-cl icon-left"></i> Chile</a></li>
                                    <li><a href="#"><i class="icon-flag icon-flag-ar icon-left"></i> Argentina</a></li>
                                    <li><a href="#"><i class="icon-flag icon-flag-br icon-left"></i> Brasil</a></li>
                                    <li><a href="#"><i class="icon-flag icon-flag-co icon-left"></i> Colombia</a></li>
                                    <li><a href="#"><i class="icon-flag icon-flag-pe icon-left"></i> Perú</a></li>
                                    <li><a href="#"><i class="icon-flag icon-flag-uy icon-left"></i> Uruguay</a></li>
                                    <li><a href="#"><i class="icon-flag icon-flag-ca icon-left"></i> Canadá</a></li>
                                    <li><a href="#"><i class="icon-flag icon-flag-usa icon-left"></i> Estados Unidos</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="copyright-text">Copyright © Urdress App SA de CV 2020
                        </div>
                    </div>
                    <div class="footer-right">
                        <ul class="footer-right-menu">
                            <li><a routerLink="/preguntas-frecuentes" class="footer-right-menu-items">PREGUNTAS FRECUENTES</a></li>
                            <li><a routerLink="/que-talla-soy" class="footer-right-menu-items">GUÍA DE TALLAS</a></li>
                        </ul>
                    </div>
                    <div class="copyright-text">Copyright © Urdress App SA de CV 2020
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>