<!-- breadcrumb start -->
<div class="breadcrumb-section bg-header d-flex align-items-center">
    <div class="container">
        <div class="row d-flex align-content-center">
            <div class="col-sm-12">
                <div class="page-title text-white d-flex justify-content-center">
                    <h2 class="text-white text-capitalize">¿Qué talla soy?</h2>
                </div>
                <div class="page-title text-white d-flex justify-content-center">
                    <h5 class="text-white">Renta y compra vestidos de noche y de fiesta en México, rapido y facil.</h5>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb end -->
<!-- section start-->
<section class="faq-section section-b-space">
    <div class="container">
        <div class="row  d-flex justify-content-center">
            <div class="col-6 text-center">
                <div class="ideal-dress-toptitle">URDRESS APP</div>
            </div>
            <div class="col-12 text-center mb-5 mt-3">
                <h2 class="text-capitalize">¿Qué talla soy?</h2>
            </div>
            <div class="col-sm-12 text-center px-5">
                <img class="img-fluid" src="assets/images/TABLA_DE_MEDIDAS.jpg" alt="">
            </div>
        </div>
    </div>
</section>
<!--Section ends-->