<!-- breadcrumb start -->
<div class="breadcrumb-section bg-header d-flex align-items-center">
    <div class="container">
        <div class="row d-flex align-content-center">
            <div class="col-sm-12">
                <div class="page-title text-white d-flex justify-content-center">
                    <h2 class="text-white text-capitalize">Políticas de Renta</h2>
                </div>
                <div class="page-title text-white d-flex justify-content-center">
                    <h5 class="text-white">Renta y compra vestidos de noche y defiesta en México, rápido y fácil.</h5>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb end -->
<!-- section start-->
<section class="faq-section section-b-space">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-6 text-center">
                <div class="ideal-dress-toptitle">URDRESS APP</div>
            </div>
            <div class="col-12 text-center mb-5 mt-3">
                <h2 class="text-capitalize">Políticas de Renta</h2>
            </div>
            <div class="col-sm-12 px-5">
                <div class="accordion theme-accordion px-5" id="accordionExample">
                    Políticas de Renta
                    <ul>
                        <li>1. La clienta deberá crear una cuenta y hacer el pago de la renta en su totalidad en pesos mexicanos con tarjeta de crédito o débito del modelo de su agrado al momento del check out de la renta.</li>
                        <li>2. La garantía es por $1,300.00; sirve para garantizar que regresará el vestido en las mismas condiciones en que le fue entregado. El monto será cargado por completo cuando la prenda muestre algún daño y se hará al final de la
                            renta.
                        </li>
                        <li>3. La clienta se compromete a proporcionar su talla real, ya que sin esta la empresa no se hace responsable si el vestido no se ajusta al momento de recogerlo, de ser así se tendrá que rentar un vestido nuevo o cancelar y se cargará
                            el monto de penalización por cancelación.</li>
                        <li>4. Las citas para entrega y recolección del vestido, clienta y socia deberán de contactarse para acordar la cita y verse de preferencia en un lugar público o que las dos conozcan y confíen, en caso de no llegar a las citas se cargará
                            el monto de penalización por cancelación o garantía según aplique.</li>
                        <li>5. Nuestra socia se compromete a llevar el modelo seleccionado al lugar acordado con nuestro cliente. En caso de requerir realizar ajustes, la clienta podrá realizarlos al tener la aprobación por la socia siempre y cuando no comprometan
                            la calidad de la misma.</li>
                        <li>6. Para realizar la renta del vestido, la clienta deberá cubrir el monto total de esta, se recomienda enviar y solicitar una identificación oficial con fotografía.</li>
                        <li>7. La prenda será entregada en buenas condiciones generales, de manera que el vestido esté listo para usar, la clienta deberá regresarlo en buenas condiciones generales, para el cuidado de la misma.</li>
                        <li>8. Si la clienta sobrepasa la fecha de entrega, se cargará la cantidad de el 15% sobre el monto de la renta por día.</li>
                        <li>9. En caso de que la prenda sufra algún daño, como rupturas, quemaduras, manchas permanentes, desprendimiento de material bordado, etc., y nuestra socia nos lo indique con fotos, se cubrirá con la garantía y la clienta podrá conservar
                            el vestido.</li>
                        <li>10. Se podrá solicitar una cita anticipada con un costo de $350 pesos mexicanos (este costo no incluye la renta del vestido). Será exclusivamente para ver el vestido y probarlo. En caso de necesitar algún ajuste, este se llevará
                            a cabo hasta el día de la entrega con la aprobación de nuestra socia. Solo se podrá agendar, si el vestido se encuentra disponible.</li>
                        <li>11. La comisión que urdress cobra es por el 13% sobre cualquier monto que se cargue a nuestras clientas/socias, en caso de no poder hacer algún cobro se eliminará la cuenta de la misma y no podrá ser dada de alta nuevamente.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Section ends-->