<!-- breadcrumb start -->
<div class="breadcrumb-section bg-header d-flex align-items-center">
    <div class="container">
        <div class="row d-flex align-content-center">
            <div class="col-sm-12">
                <div class="page-title text-white d-flex justify-content-center">
                    <h2 class="text-white text-capitalize">Políticas de Compra</h2>
                </div>
                <div class="page-title text-white d-flex justify-content-center">
                    <h5 class="text-white">Renta y compra vestidos de noche y defiesta en México, rápido y fácil.</h5>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb end -->
<!-- section start-->
<section class="faq-section section-b-space">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-6 text-center">
                <div class="ideal-dress-toptitle">URDRESS APP</div>
            </div>
            <div class="col-12 text-center mb-5 mt-3">
                <h2 class="text-capitalize">Políticas de Compra</h2>
            </div>
            <div class="col-sm-12 px-5">
                <div class="accordion theme-accordion px-5" id="accordionExample">
                    Políticas de Compra
                    <ul>
                        <li>1. La clienta deberá crear una cuenta y hacer el pago de el accesorio de agrado en su totalidad en pesos mexicanos con tarjeta de crédito o débito del modelo de su agrado al momento del check out de la compra.</li>
                        <li>2. La clienta deberá crear una cuenta y hacer el pago del vestido de agrado en su totalidad en pesos mexicanos con tarjeta de crédito o débito del modelo de su agrado al momento del check out de la compra, el pago se hace a urdress
                            app y diseño S.A. de C.V. y la misma empresa liberará el pago a nuestra socia cuando el cliente reciba el vestido.
                        </li>
                        <li>3. En el caso de la compra de accesorios el accesorio ya incluye el costo de envío y les llegará en un plazo de 4 días hábiles al domicilio proporcionado.</li>
                        <li>4. En el caso de la compra de vestidos nuestra clienta y nuestra socia se pondrán de acuerdo para verse o para enviar el vestido, cualquiera de las dos opciones los gastos de entrega correrán por cualquiera de ambas al momento
                            de la negociación de compra/venta.</li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Section ends-->