<div id="steps-notify-contain" class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 steps-contain">
            <div class="steps-item">
                <div class="steps-item-icon ct-icon ct-icon-search"></div>
                <div class="steps-item-title">Revisa nuestro catálogo</div>
            </div>
            <div class="steps-item">
                <div class="steps-item-icon ct-icon ct-icon-tag"></div>
                <div class="steps-item-title">Escoge el vestido</div>
            </div>
            <div class="steps-item">
                <div class="steps-item-icon ct-icon ct-icon-dress"></div>
                <div class="steps-item-title">Pruébatelo</div>
            </div>
            <div class="steps-item">
                <div class="steps-item-icon ct-icon ct-icon-star"></div>
                <div class="steps-item-title">Lúcelo</div>
            </div>
            <div class="steps-item">
                <div class="steps-item-icon ct-icon ct-icon-hands"></div>
                <div class="steps-item-title">Regrésalo</div>
            </div>
        </div>
        <!-- <div class="col-lg-3 col-md-12 notify-contain">
            <div class="notify-title">Recibe notificaciones de ofertas y promociones.</div>
            <a (click)="onClick()" class="notify-button">Suscribete</a>
        </div> -->
    </div>
</div>