<!-- breadcrumb start -->
<div class="breadcrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="page-title">
                    <h2>Olvido su contraseña</h2>
                </div>
            </div>
            <div class="col-sm-6">
                <nav aria-label="breadcrumb" class="theme-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a [routerLink]="'/home/one'">Inicio</a></li>
                        <li class="breadcrumb-item"><a [routerLink]="'/iniciar-sesion'">login</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Olvido Contraseña</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb End -->
<!-- section start -->
<section class="pwd-page">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <h4>Introduzca su correo electrónico</h4>
                <form class="theme-form" action="" [formGroup]="forma2" (ngSubmit)="recoverPass()" id="recover">
                    <div class="form-row">
                        <div class="col-md-12">
                            <input type="text" class="form-control" formControlName="recover_email" name="recover_email" placeholder="Ingrese su e-mail" required="">
                        </div>
                        <button type="submit" class="btn btn-solid mt-3">Recuperar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<!--Section ends-->