<!-- breadcrumb start -->
<div class="breadcrumb-section bg-header d-flex align-items-center">
    <div class="container">
        <div class="row d-flex align-content-center">
            <div class="col-sm-12">
                <div class="page-title text-white d-flex justify-content-center">
                    <h2 class="text-white text-capitalize">Preguntas Frecuentes</h2>
                </div>
                <div class="page-title text-white d-flex justify-content-center">
                    <h5 class="text-white">Renta y compra vestidos de noche y defiesta en México, rapido y facil.</h5>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb end -->
<!-- section start-->
<section class="faq-section section-b-space">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-6 text-center">
                <div class="ideal-dress-toptitle">URDRESS APP</div>
            </div>
            <div class="col-12 text-center mb-5 mt-3">
                <h2 class="text-capitalize">Preguntas Frecuentes</h2>
            </div>
            <div class="col-sm-12 px-5">
                <div class="accordion theme-accordion px-5" id="accordionExample">
                    <div class="card">
                        <div class="card-header" id="headingOne">
                            <h5 class="mb-0">
                                <button class="btn btn-link text-capitalize" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    ¿Cuál es proceso de renta?
                                </button>
                            </h5>
                        </div>

                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                            <div class="card-body">
                                <ul>
                                    <li>1. Revisa nuestro catálogo y encuentra el vestido que deseas lucir, realiza el pago de la renta.</li>
                                    <li>2. Coordina la entrega y devolución del vestido para que te lo pruebes y te lo lleves.</li>
                                    <li>3. Lúcelo en tu evento.</li>
                                    <li>4. Regrésalo en la fecha acordada para evitar cargos adicionales.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingTwo">
                            <h5 class="mb-0">
                                <button class="btn btn-link text-capitalize collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    ¿Dónde se encuentran?
                                </button>
                            </h5>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                            <div class="card-body">
                                <p>Puedes encontrar el vestido que desees usar en tu gran evento utilizando nuestro filtro de ciudades, así encontrarás el más cercano a ti.</p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingThree">
                            <h5 class="mb-0">
                                <button class="btn btn-link text-capitalize collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    ¿Cuáles son los requisitos para rentar?
                                </button>
                            </h5>
                        </div>
                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                            <div class="card-body">
                                <p>Te pedimos el monto de la renta y ser mayor de edad.</p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingFour">
                            <h5 class="mb-0">
                                <button class="btn btn-link text-capitalize collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                    ¿Cuáles son sus horarios de atención?
                                </button>
                            </h5>
                        </div>
                        <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                            <div class="card-body">
                                <p>De lunes a viernes de 10 am a 6 pm.</p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingFive">
                            <h5 class="mb-0">
                                <button class="btn btn-link text-capitalize collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                    ¿Es necesario hacer cita para visitarlas?                                
                                </button>
                            </h5>
                        </div>
                        <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
                            <div class="card-body">
                                <p>Sí, es necesario que te pongas de acuerdo en una cita por medio del chat después de realizar el pago de la renta.</p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingSix">
                            <h5 class="mb-0">
                                <button class="btn btn-link text-capitalize collapsed" type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                    ¿Tienen envíos a domicilio?
                                </button>
                            </h5>
                        </div>
                        <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordionExample">
                            <div class="card-body">
                                <p>En entrega de ventas de vestidos y accesorios sí; en el caso de vestidos es con cargo adicional. En el caso de accesorios ya está incluido en el precio.</p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingSeven">
                            <h5 class="mb-0">
                                <button class="btn btn-link text-capitalize collapsed" type="button" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                                    ¿Hacen envíos a otros estados?
                                </button>
                            </h5>
                        </div>
                        <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordionExample">
                            <div class="card-body">
                                <p>Sí. Puedes solicitarlo poniéndote en contacto con nosotros vía WhastApp.</p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="heading8">
                            <h5 class="mb-0">
                                <button class="btn btn-link text-capitalize collapsed" type="button" data-toggle="collapse" data-target="#collapse8" aria-expanded="false" aria-controls="collapse8">
                                    ¿Compran vestidos usados?
                                </button>
                            </h5>
                        </div>
                        <div id="collapse8" class="collapse" aria-labelledby="heading8" data-parent="#accordionExample">
                            <div class="card-body">
                                <p>No, ¡pero puedes subirlos para que puedas sacarles provecho a pesar de que ya no los uses! ¡Tú decides el precio de renta!.</p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="heading9">
                            <h5 class="mb-0">
                                <button class="btn btn-link text-capitalize collapsed" type="button" data-toggle="collapse" data-target="#collapse9" aria-expanded="false" aria-controls="collapse9">
                                    ¿Qué formas de pago aceptan?
                                </button>
                            </h5>
                        </div>
                        <div id="collapse9" class="collapse" aria-labelledby="heading9" data-parent="#accordionExample">
                            <div class="card-body">
                                <ul>
                                    <li>Tarjetas de Crédito y Débito</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="heading10">
                            <h5 class="mb-0">
                                <button class="btn btn-link text-capitalize collapsed" type="button" data-toggle="collapse" data-target="#collapse10" aria-expanded="false" aria-controls="collapse10">
                                    ¿Con cuánto tiempo de anticipación puedo agendar?
                                </button>
                            </h5>
                        </div>
                        <div id="collapse10" class="collapse" aria-labelledby="heading10" data-parent="#accordionExample">
                            <div class="card-body">
                                <p>El tiempo que tu desees, solo toma en cuenta que tiene un costo de $350.00.</p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="heading11">
                            <h5 class="mb-0">
                                <button class="btn btn-link text-capitalize collapsed" type="button" data-toggle="collapse" data-target="#collapse11" aria-expanded="false" aria-controls="collapse11">
                                    ¿Qué pasa si el vestido que me gustó no me quedó?
                                </button>
                            </h5>
                        </div>
                        <div id="collapse11" class="collapse" aria-labelledby="heading11" data-parent="#accordionExample">
                            <div class="card-body">
                                <p>Puedes ver con nuestra socia si aprueba que se le hagan modificaciones, o puedes buscar otro en nuestro catálogo.</p>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="card">
                        <div class="card-header" id="heading12">
                            <h5 class="mb-0">
                                <button class="btn btn-link text-capitalize collapsed" type="button" data-toggle="collapse" data-target="#collapse12" aria-expanded="false" aria-controls="collapse12">
                                    ¿Por cuánto tiempo puedo rentar un vestido?
                                </button>
                            </h5>
                        </div>
                        <div id="collapse12" class="collapse" aria-labelledby="heading12" data-parent="#accordionExample">
                            <div class="card-body">
                                <p>El periodo de renta generalmente es de jueves a lunes. Puede variar según tus necesidades.</p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="heading13">
                            <h5 class="mb-0">
                                <button class="btn btn-link text-capitalize collapsed" type="button" data-toggle="collapse" data-target="#collapse13" aria-expanded="false" aria-controls="collapse13">
                                    ¿Qué pasa si necesito el vestido por más tiempo?
                                </button>
                            </h5>
                        </div>
                        <div id="collapse13" class="collapse" aria-labelledby="heading13" data-parent="#accordionExample">
                            <div class="card-body">
                                <p>Puedes contratar días extras sin problema. El costo es de 100 MXN por día.</p>
                            </div>
                        </div>
                    </div> -->
                    <div class="card">
                        <div class="card-header" id="heading14">
                            <h5 class="mb-0">
                                <button class="btn btn-link text-capitalize collapsed" type="button" data-toggle="collapse" data-target="#collapse14" aria-expanded="false" aria-controls="collapse14">
                                    ¿Cómo puedo obtener algún descuento?
                                </button>
                            </h5>
                        </div>
                        <div id="collapse14" class="collapse" aria-labelledby="heading14" data-parent="#accordionExample">
                            <div class="card-body">
                                <p>¡Nos encanta consentirte y siempre tenemos promociones para ti! Suscríbete ingresando tu corre y te llegarán en automático, también síguenos en nuestras redes sociales para mantenerte actualizada siempre sobre nuestras
                                    promociones.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="heading15">
                            <h5 class="mb-0">
                                <button class="btn btn-link text-capitalize collapsed" type="button" data-toggle="collapse" data-target="#collapse15" aria-expanded="false" aria-controls="collapse15">
                                    ¿Qué incluye la renta?
                                </button>
                            </h5>
                        </div>
                        <div id="collapse15" class="collapse" aria-labelledby="heading15" data-parent="#accordionExample">
                            <div class="card-body">
                                <p>¡Incluye la tintoreria para que no tengas que preocuparte por eso!.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="heading16">
                            <h5 class="mb-0">
                                <button class="btn btn-link text-capitalize collapsed" type="button" data-toggle="collapse" data-target="#collapse16" aria-expanded="false" aria-controls="collapse16">
                                    ¿Qué pasa si daño alguna de las prendas?
                                </button>
                            </h5>
                        </div>
                        <div id="collapse16" class="collapse" aria-labelledby="heading16" data-parent="#accordionExample">
                            <div class="card-body">
                                <p>Si llegas a dañar alguna prenda se hará un cargo adicional por la garantía y podrás conservar el vestido</p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="heading17">
                            <h5 class="mb-0">
                                <button class="btn btn-link text-capitalize collapsed" type="button" data-toggle="collapse" data-target="#collapse17" aria-expanded="false" aria-controls="collapse17">
                                    ¿Cuándo se considera pérdida total de un artículo y cuáles son las consecuencias?
                                </button>
                            </h5>
                        </div>
                        <div id="collapse17" class="collapse" aria-labelledby="heading17" data-parent="#accordionExample">
                            <div class="card-body">
                                <p>Cuando la prenda tiene daños como rupturas, quemaduras, manchas permanentes, desprendimiento de material bordado, también cuando ya no tienes la prenda y nuestra socia nos lo indique.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="heading18">
                            <h5 class="mb-0">
                                <button class="btn btn-link text-capitalize collapsed" type="button" data-toggle="collapse" data-target="#collapse18" aria-expanded="false" aria-controls="collapse18">
                                    ¿Qué pasa si no devuelvo mi renta a tiempo?
                                </button>
                            </h5>
                        </div>
                        <div id="collapse18" class="collapse" aria-labelledby="heading18" data-parent="#accordionExample">
                            <div class="card-body">
                                <p>Se hará un cargo del 15% diario sobre el monto de renta del vestido.</p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="heading19">
                            <h5 class="mb-0">
                                <button class="btn btn-link text-capitalize collapsed" type="button" data-toggle="collapse" data-target="#collapse19" aria-expanded="false" aria-controls="collapse19">
                                    ¿Qué pasa si quiero cancelar mi renta?
                                </button>
                            </h5>
                        </div>
                        <div id="collapse19" class="collapse" aria-labelledby="heading19" data-parent="#accordionExample">
                            <div class="card-body">
                                <p>¡Si deseas cancelar porque no te gustó o no te quedó el vestido puedes buscar otro en nuestro catálogo! Si deseas cancelar, se te hará un cargo de penalización por cancelación.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="heading20">
                            <h5 class="mb-0">
                                <button class="btn btn-link text-capitalize collapsed" type="button" data-toggle="collapse" data-target="#collapse20" aria-expanded="false" aria-controls="collapse20">
                                    ¿Qué otros servicios tienen?
                                </button>
                            </h5>
                        </div>
                        <div id="collapse20" class="collapse" aria-labelledby="heading20" data-parent="#accordionExample">
                            <div class="card-body">
                                <p>¡Puedes encontrar venta de accesorios para que completes el outfit para ese evento especial! También, como nos encanta poder darte un servicio muy completo, contamos con aliados en servicio de maquillaje y peinado, solo
                                    en algunas ciudades. Puedes solicitar más información enviando un correo a nuestro correo de atención.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Section ends-->