.bg-header {
    height: 300px;
    background-image: url('/assets/images/header_web.png');
}

h2 {
    font-size: 30px !important;
}

.card-body ul {
    list-style-type: disc;
    margin: 10px;
    padding: 10px;
}

li {
    display: list-item;
}

ul,
li {
    list-style: circle;
}

.faq-section .accordion.theme-accordion .card :not(:first-of-type):not(:last-of-type),
.faq-section .accordion.theme-accordion .card .theme-accordion .card:first-of-type {
    border-bottom: 0px solid #dddddd;
}

.ideal-dress-toptitle {
    font-size: 13px;
    font-weight: 700;
    font-family: Raleway;
    // color: #aae0ff;
    letter-spacing: 2px;
    padding-left: 80px;
    padding-right: 30px;
    // position: relative;
}

.ideal-dress-toptitle:before {
    content: "";
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    width: 60px;
    height: 1px;
    background: #aae0ff;
    left: 35%;
    z-index: 1;
    position: absolute;
}